@page "/characters/create"
@using Microsoft.EntityFrameworkCore
@using GoodsWebApp.Models
@inject IDbContextFactory<GoodsWebApp.Data.GoodsWebAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Character</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Character" OnValidSubmit="AddCharacter" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="hotpriority" class="form-label">HotPriority:</label> 
                <InputNumber id="hotpriority" @bind-Value="Character.HotPriority" class="form-control" /> 
                <ValidationMessage For="() => Character.HotPriority" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/characters">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Character Character { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddCharacter()
    {
        using var context = DbFactory.CreateDbContext();
        context.Character.Add(Character);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/characters");
    }
}
