@page "/characters"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using GoodsWebApp.Models
@using GoodsWebApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<GoodsWebApp.Data.GoodsWebAppContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="characters/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Character">
    <PropertyColumn Property="character => character.HotPriority" />

    <TemplateColumn Context="character">
        <a href="@($"characters/edit?characterid={character.CharacterID}")">Edit</a> |
        <a href="@($"characters/details?characterid={character.CharacterID}")">Details</a> |
        <a href="@($"characters/delete?characterid={character.CharacterID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private GoodsWebAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
