@page "/batchtotypes/create"
@using Microsoft.EntityFrameworkCore
@using GoodsWebApp.Models
@inject IDbContextFactory<GoodsWebApp.Data.GoodsWebAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>BatchToType</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="BatchToType" OnValidSubmit="AddBatchToType" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="goodstypeid" class="form-label">GoodsTypeID:</label> 
                <InputNumber id="goodstypeid" @bind-Value="BatchToType.GoodsTypeID" class="form-control" /> 
                <ValidationMessage For="() => BatchToType.GoodsTypeID" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/batchtotypes">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private BatchToType BatchToType { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddBatchToType()
    {
        using var context = DbFactory.CreateDbContext();
        context.BatchToType.Add(BatchToType);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/batchtotypes");
    }
}
