@page "/batchtotypes/edit"
@using Microsoft.EntityFrameworkCore
@using GoodsWebApp.Models
@inject IDbContextFactory<GoodsWebApp.Data.GoodsWebAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>BatchToType</h2>
<hr />
@if (BatchToType is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="BatchToType" OnValidSubmit="UpdateBatchToType" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="BatchToType.GoodsBatchID" value="@BatchToType.GoodsBatchID" />
                <div class="mb-3">
                    <label for="goodstypeid" class="form-label">GoodsTypeID:</label>
                    <InputNumber id="goodstypeid" @bind-Value="BatchToType.GoodsTypeID" class="form-control" />
                    <ValidationMessage For="() => BatchToType.GoodsTypeID" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/batchtotypes">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int GoodsBatchID { get; set; }

    [SupplyParameterFromForm]
    private BatchToType? BatchToType { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        BatchToType ??= await context.BatchToType.FirstOrDefaultAsync(m => m.GoodsBatchID == GoodsBatchID);

        if (BatchToType is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateBatchToType()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(BatchToType!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!BatchToTypeExists(BatchToType!.GoodsBatchID))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/batchtotypes");
    }

    private bool BatchToTypeExists(int goodsbatchid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.BatchToType.Any(e => e.GoodsBatchID == goodsbatchid);
    }
}
