@page "/deliverychecklists"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using GoodsWebApp.Models
@using GoodsWebApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<GoodsWebApp.Data.GoodsWebAppContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="deliverychecklists/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.DeliveryCheckList">
    <PropertyColumn Property="deliverychecklist => deliverychecklist.UserID" />
    <PropertyColumn Property="deliverychecklist => deliverychecklist.DeliveryRequestTime" />
    <PropertyColumn Property="deliverychecklist => deliverychecklist.ListPicURL" />
    <PropertyColumn Property="deliverychecklist => deliverychecklist.CheckDeliveryStatus" />

    <TemplateColumn Context="deliverychecklist">
        <a href="@($"deliverychecklists/edit?deliveryuniqueid={deliverychecklist.deliveryUniqueID}")">Edit</a> |
        <a href="@($"deliverychecklists/details?deliveryuniqueid={deliverychecklist.deliveryUniqueID}")">Details</a> |
        <a href="@($"deliverychecklists/delete?deliveryuniqueid={deliverychecklist.deliveryUniqueID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private GoodsWebAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
