@page "/"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager
@inject IDbContextFactory<GoodsWebApp.Data.GoodsWebAppContext> DbFactory
<PageTitle>Goods Auto Dashboard</PageTitle>


<div class="d-flex flex-column">
    <button class="btn btn-primary mb-2" @onclick="NavigateToAddGoodsPage">
        添加谷子
    </button>
    <button class="btn btn-secondary mb-2" @onclick="NavigateToSomeOtherPage">
        其他功能
    </button>
    <button class="btn btn-info mb-2" @onclick="NavigateToAnotherPage">
        另一个功能
    </button>
</div>

@code {

    private void NavigateToAddGoodsPage()
    {
        NavigationManager.NavigateTo("/add-goods-auto/start");
    }

    private void NavigateToSomeOtherPage()
    {
        //NavigationManager.NavigateTo("/some-other-page");
    }

    private void NavigateToAnotherPage()
    {
        //NavigationManager.NavigateTo("/another-page");
    }
}
