@page "/moneychecklists"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using GoodsWebApp.Models
@using GoodsWebApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<GoodsWebApp.Data.GoodsWebAppContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="moneychecklists/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.MoneyCheckList">
    <PropertyColumn Property="moneychecklist => moneychecklist.UserID" />
    <PropertyColumn Property="moneychecklist => moneychecklist.BatchID" />
    <PropertyColumn Property="moneychecklist => moneychecklist.PayPicURL" />
    <PropertyColumn Property="moneychecklist => moneychecklist.CheckMoneyStatus" />

    <TemplateColumn Context="moneychecklist">
        <a href="@($"moneychecklists/edit?moneyuniqueid={moneychecklist.moneyUniqueID}")">Edit</a> |
        <a href="@($"moneychecklists/details?moneyuniqueid={moneychecklist.moneyUniqueID}")">Details</a> |
        <a href="@($"moneychecklists/delete?moneyuniqueid={moneychecklist.moneyUniqueID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private GoodsWebAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
