@page "/characterpriorities/edit"
@using Microsoft.EntityFrameworkCore
@using GoodsWebApp.Models
@inject IDbContextFactory<GoodsWebApp.Data.GoodsWebAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>CharacterPriority</h2>
<hr />
@if (CharacterPriority is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="CharacterPriority" OnValidSubmit="UpdateCharacterPriority" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="CharacterPriority.CharacterID" value="@CharacterPriority.CharacterID" />
                <div class="mb-3">
                    <label for="prioritygrade" class="form-label">PriorityGrade:</label>
                    <InputNumber id="prioritygrade" @bind-Value="CharacterPriority.PriorityGrade" class="form-control" />
                    <ValidationMessage For="() => CharacterPriority.PriorityGrade" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="userid" class="form-label">UserID:</label>
                    <InputNumber id="userid" @bind-Value="CharacterPriority.UserID" class="form-control" />
                    <ValidationMessage For="() => CharacterPriority.UserID" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="forcepercent" class="form-label">ForcePercent:</label>
                    <InputNumber id="forcepercent" @bind-Value="CharacterPriority.ForcePercent" class="form-control" />
                    <ValidationMessage For="() => CharacterPriority.ForcePercent" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/characterpriorities">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private string CharacterID { get; set; }

    [SupplyParameterFromForm]
    private CharacterPriority? CharacterPriority { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        CharacterPriority ??= await context.CharacterPriority.FirstOrDefaultAsync(m => m.CharacterID == CharacterID);

        if (CharacterPriority is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateCharacterPriority()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(CharacterPriority!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!CharacterPriorityExists(CharacterPriority!.CharacterID))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/characterpriorities");
    }

    private bool CharacterPriorityExists(string characterid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.CharacterPriority.Any(e => e.CharacterID == characterid);
    }
}
